@use 'reset' as *;
@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: 'Danger on the Motorway';
  src: url('../../public/assets/fonts/dotm.woff') format('woff2');
}

body.familiada {
  background-color: #2d3341;
  color: #c2d785;
  font-family: 'Danger on the Motorway', sans-serif;
  font-size: 16px;

  h1 {
    font-size: 72px;
  }

  ul li {
    list-style-type: none;
  }

  .winner {
    display: none;
  }
  .recordPanel {
    justify-content: center;
    align-items: center;

    .record {
      cursor: pointer;
      display: inline;
    }
  }

  button#recordButton {
    width: 35px;
    height: 35px;
    font-size: 0;
    background-color: red;
    border: 0;
    border-radius: 35px;
    margin: 18px;
    outline: none;
  }
  
  button.notRec{
    background-color: darkred;
  }
  
  button.rec{
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes pulse{
    0%{
      box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
      box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
      box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
  }

}

.points {
  font-weight: bolder;
  width: 20px;
  display: inline-block;
  text-align: left;
}

.fail {
  color: rgba(0, 0, 0, 0.15);
  font-size: 72px;

  &.active {
    color: #c2d785;
    font-size: 72px;
  }
}

a {
  color: #c2d785;
}

#correct_answers_panel {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 8px;
    z-index: 9999; /* Always on top */
}

#correct_answers_panel button {
    width: 30px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 50%;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

#correct_answers_panel button:hover {
    background-color: #ddd;
}

#correct_answers_panel div {
    display: flex;
    justify-content: center;
    align-items: center;
}